{% extends 'pharma/base2.html' %}
{% load static %}
{% load widget_tweaks %}
{% load heroicons %}
{% load list_tags %}




{% block title %}
Cart  Total 
{% endblock %}


{% block content %}
<div class="grid grid-cols-4 md:grid-cols-2 gap-6 mb-24 px-6 md:px-16 py-10 items-center">
 

   

{% if cart_items%}
{% with "" as previous %}
{% for item in cart_items %}
{% if item != previous %}
<div class="justify-between grid grid-cols-2  items-center mb-2 border-b-2 border-gray-300 py-4 px-6">
  <div class=" items-center space-x-4">
    <img src="{{ item.name.image.url }}" alt="{{ item.name.name }}" class="w-10 h-[200px] rounded-lg" style="height: 200px;">
    <div>
      <h3 class="text-lg font-semibold text-blue-900">{{ item.name.name }}</h3>
      <p class="text-gray-600">Price: ₦ {{ item.name.price }}</p>
      <p class="text-gray-600">Quantity: {{ item.quantity }}</p>
    </div>
    
  </div>
  <div class="flex justify-end mt-4 px-6">
    <form method="post" action="{% url 'remove_from_cart' item.id %}">
      {% csrf_token %}
      <input type="hidden" name="item_id" value="{{ item.name.id }}">
      <button type="submit" style="cursor: pointer;" class="cursor-pointer text-red-500 hover:text-red-700 focus:outline-none">
        <span>{% heroicon_outline "trash" size=20 %}</span> 
      </button>
    </form>
</div>
</div>

  {% endif %}
  {% with item as previous %}
  {% endwith %}
  {% endfor %}
  {% endwith %}
    <!-- <div class="text-right"> -->
    
</div>
</div>
{% else %}
        <p class="text-lg font-semibold text-blue-900">No item found</p>
{% endif %}
   

{% if cart_items%}
<div class=" block justify-end mt-4 px-6">
  <h2 class="text-2xl font-semibold text-blue-900">Grand Total: ₦ {{ total_price }}</h2>
  <br>
  <button class="bg-green-500 text-white px-4 py-2 rounded-lg ml-4"  onclick="document.getElementById('id01').style.display='block'">Checkout</button>
</div>
{% else %}

{% endif %}

<style>
  

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  border-radius: 20px;
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>



<div id="id01" class="modal">
  
  <form class="modal-content animate" method="post">
    {% csrf_token %}
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="{% static 'images/Chat_Image_Apr_15__2025__12_24_59_PM-removebg-preview.png' %}" alt="Avatar" class="avatar">
    </div>
    

    <div class="container">
      {% for field in form %}
      <label for="{{ field.id_for_label }}" style="margin-top: 50px;"><b>{{ field.label }}</b></label>
      {{ field|add_class:"w-full h-11 mb-[20px] border border-green-400 text-base rounded-md shadow-glow" }}

      {% if field.errors %}
                            <div class="mt-2 rounded-lg bg-red-100 border border-red-400 text-red-700 px-4 py-3 ">
                                <ul>
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        

         {% endfor %}
        
      <button class="bg-green-500 text-white px-4 py-2 rounded-lg ml-4" type="submit">Submit</button>
      
    </div>

    
  </form>
</div>



<script>
  // Get the modal
  var modal = document.getElementById('id01');
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  </script>
  
</div>
  
{% endblock %}