{% extends 'pharma/base2.html' %}
{% load static %}
{% load widget_tweaks %}
{% load heroicons %}



{% block title %}
Categories
{% endblock %}


{% block content %}
 <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 lg:mt-[100px]">
    {% for catego in categories %}
     <a href="categories/{{catego.category}}/">
    <div class="relative bg-green-500 rounded-2xl overflow-hidden p-4 h-[316px]">
      <img src="{{ catego.image.url }}" class="w-full h-[284px] object-contain mx-auto" alt="{{ catego.category }}">
      <h6 class="absolute bottom-3 left-4 text-xl text-blue-900">{{ catego.category }}</h6>
      <span class="absolute top-3 right-3 text-red-500">{% heroicon_outline "arrow-right-circle" size=40 %}</span>
    </div>
     </a>
    {% endfor %}
  </div>



{% endblock %}
