{% extends 'pharma/base2.html' %}
 {% load static %}
  {% load widget_tweaks %} 
  {%load heroicons %} 
  {% block title %} 
  {{ item.name }}
  {% endblock %} 


  {% block content%}
  <div >
    <ul>
        <li class="mt-2 rounded-lg bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3" style="display: {{display}};" id="time">{{message}}</li>
    </ul>
  </div>
  <div class="grid grid-cols-1 mb-6 min-h-[384px] sm:grid-cols-2 lg:grid-cols-2 gap-6 ml-10 mt-10">
    <script>setTimeout(() => { document.getElementById('time').style.display = 'none'; }, 5000);</script>
 
  <div class="w-[200px] h-[304px] object-contain">
    <img src="{{ item.image.url }}" class="w-full h-[284px] object-contain" alt="Popular Product" />
  </div>
  <div class="w-[200px] h-[284px] object-contain ml-10">
    <h6 class="text-blue-900 text-lg">{{ item.name }}</h6>
    <span class="text-green-400 px-8 ml-10 text-xl font-sans"> ₦ {{ item.price }}</span>
    <br>
    {% if item.shipping == 0%}
    <span class="text-gray-500 px-8 ml-10 text-xl font-sans">Free Shipping</span>
    {% else %}
    <span class="text-gray-500 px-8 ml-10 text-xl font-sans">Shipping: ₦ {{ item.shipping }}</span>
    {% endif %}
    <br>
    <span class="text-gray-500 px-8 ml-10 text-xl font-sans ">Description: {{ item.description }}</span>
    <br>
   
        
  
  <a href="#"><button class="bg-green-500 mb-2 text-gray-800 text-sm md:text-base rounded-full border border-blue-300 w-[100px] h-[36px] md:w-[126px] px-16 md:h-[41px]">Bid</button>
  </a>
    
    <a href="{% url 'buynow' name=item.name  id=item.id %}"><button class="bg-green-500 mb-2 text-gray-800 text-sm md:text-base rounded-full border border-blue-300 w-[100px] h-[36px] px-16 md:w-[126px] md:h-[41px]">Buy Now</button>
  </a>
  {% for name in form %}
  <form method="post" id="myForm" enctype="multipart/form-data" class="space-y-6">
    {% csrf_token %}

  
  <div class="border border-gray-400 border-l-4 border-l-blue-900 px-4 rounded-lg w-full max-w-[540px]">
    
    <label class="text-base text-gray-700 block mb-1" for="{{ name.id_for_label }}">{{ name.label }}</label>
  {{ name|add_class:"w-8 h-11 text-base focus:bg-green-500" }}
  <br>
  <small class="text-sm text-gray-500">{{ name.help_text }}</small>
  <br>
  <button type="submit" class="bg-green-500 mb-2 text-gray-800 text-sm md:text-base rounded-full border border-blue-300 w-[100px] h-[36px] px-16 md:w-[126px] md:h-[41px]">Add to Cart</button>
 
  {% if name.errors %}
  <div class="mt-2 rounded-lg bg-red-100 border border-red-400 text-red-700 px-4 py-3">
    <ul> 
        
        {% for error in name.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
  {% endfor %}

</form>
  


   

  </div>
    </div>

  {% endblock %}