{% extends 'pharma/base2.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %}
Login
{% endblock %}

{% block content %}
<style>
  #footer2{
    display: none;
  }
</style>
<section class="  grid grid-cols-1 md:grid-cols-2 gap-6 mb-24 px-6 md:px-16 py-10 items-center">
  <!-- Left: Form -->
  <div class="mt-10 md:ml-24">
    <span class="text-2xl font-bold text-blue-600 block mb-4">PHARMABIDS</span>
    <h1 class="text-4xl text-blue-900 font-bold leading-tight mb-6">
      We can get your Drug <br> Prescriptions to You
    </h1>

 {% if form.errors %}
                            <div class="mt-2 rounded-lg bg-red-100 border border-red-400 text-red-700 px-4 py-3">
                                <ul>
                                    {% for error in form.errors %}
                                        <li>{{ form.non_field_errors }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}


    <form method="post" id="myForm" enctype="multipart/form-data" class="space-y-6">
      {% csrf_token %}
      {% if form %}
        <span class="text-lg text-gray-700 block -mt-2">Welcome back! Please login to your account.</span>

        <!-- Username Field -->
        <div class="border border-gray-400 border-l-4 border-l-blue-900 px-4 py-3 rounded-lg w-full max-w-[540px]">
          <label class="text-base text-gray-700 block mb-1">Username:</label>
          {{ form.username|add_class:"w-full h-11 border-none text-base focus:outline-none" }}
        </div>


        <!-- Password Field -->
        <div class="w-full max-w-lg mx-auto border border-gray-400 border-l-4 border-l-blue-900 rounded-lg px-4 py-3">
          <label class="text-base text-gray-700 block mb-1">Password:</label>
          {{ form.password|add_class:"w-full h-11 text-base border-none focus:outline-none"}}
         <br> <input type="checkbox" onclick="togglePassword()">Show Password
        </div>



        <!-- Field Errors -->
        {% for field in form %}
          {% for error in field.errors %}
            <li class="text-red-500 text-sm">{{ error }}</li>
          {% endfor %}
        {% endfor %}

        <!-- Buttons -->
        <div class="flex gap-4 mt-4">
          <button type="submit" class="w-[129px] h-[54px] btn btn-success" onclick="loadform()"> Submit <span class="loading loading-spinner text-primary  w-10 h-10 " style="display: none;" id="loader"></span></button>
          <a href="{% url 'register' %}" class=" w-[129px] h-[54px] btn btn-outline btn-success">Sign up</a>
        </div>
      {% endif %}
    </form>
  </div>
  <script>
   function loadform(){

    document.getElementById('loader').style.display = "block" ; //add loading animation // Generate the URL dynamically
    setTimeout(() => { document.getElementById('loader').style.display = 'none'; }, 150000);
  }
</script>

  <!-- Right: Image -->
  <div class="flex justify-center mt-10 md:mt-0">
    <img src="{% static 'images/e01a6ff2-3a78-4a34-8d64-82cf884ff9a7-removebg-preview.png' %}" alt="Login Visual" class="w-full max-w-md sm:max-w-lg md:max-w-xl h-auto object-contain">
  </div>
</section>
<script>
  function togglePassword() {
  var x = document.getElementById("id_password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}

</script>
{% endblock %}


