{% extends 'pharma/base2.html' %}
{% load static %}
{% load widget_tweaks %}
{% load heroicons %}



{% block title %}
Login
{% endblock %}

{% block content %}





<div class="flex h-[300px] ">
  <!-- Tabs (left side) -->
  <div class="w-[30%] shadow rounded-2xl py-10 bg-sky-500  bg-green-500 min-h-[284px] border-white">
    <button 
      class="w-full shadow mt-2 text-left px-8 px-8 py-24  text-black text-[24px] hover:bg-gray-200 transition duration-300 focus:outline-none"
      onclick="openCity()" 
      id="defaultOpen">
      User Profile
    </button>
    <button 
      class="w-full shadow text-left mt-8 px-4 py-5  text-black text-[24px] hover:bg-gray-200 transition duration-300 focus:outline-none"
      onclick="openCity()">
      sales
    </button>
    <button 
      class="w-full shadow text-left mt-8 px-4 py-5  text-black text-[24px] hover:bg-gray-200 transition duration-300 focus:outline-none"
      onclick="openCity()">
      purchase
    </button>
  </div>

  <!-- Content (right side) -->
  <div class="w-[70%] ml-[20px] px-3 h-[300px] min-h-[284px]" style="margin-left: 20px;">
    hello 
    <!-- Tab content here -->
  </div>
</div>

 
  






{% endblock %}
