{% extends 'pharma/base2.html' %}
{% load static %}
{% load widget_tweaks %}
{% load heroicons %}



{% block title %}
Admin Dashboard
{% endblock %}

{% block content %}


<style>
  body {font-family: Arial, Helvetica, sans-serif;}

  /* Full-width input fields */


  /* Set a style for all buttons */
  .button2 {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    opacity: 0.8;
  }

  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }

  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }

  img.avatar {
    width: 40%;
    border-radius: 50%;
  }

  .container {
    padding: 16px;
  }

  span.psw {
    float: right;
    padding-top: 16px;
  }

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }

  /* Add Zoom Animation */

  #footer2{
    display: none;
  }


  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
  </style>





      <style>
  #mySidenav2{
    min-height: 100vh;
    max-width: 200px;


  }

  @media screen and (max-width: 768px) {
    #mySidenav2 {
      min-height: auto;
      max-height: 100px;

      position: relative;
      display: inline;
      z-index: 1;
      margin-bottom: 00px;
      top: 0;
      left: 0;
      padding-top: 20px;
      width: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    gap: 20px;
    height: 200px;
    }
    #note1 {
      margin-left: 0;
      display: inline;
      margin-top: 0px;
      overflow-x: scroll;
      overflow: hidden;
    }
    #oppen {
      flex-direction: column;
      display: block;
    }
    #customers {
      width: 100%;
      overflow-x: scroll;}
    /* }
    #product, #sales, #purchase, #defaultOpen,#help {
      width: 100%;
        margin-left: 0;
        display: flex
;
        min-height: 50px;
        font-size: 18px;
        margin-left: 5px;
        border-radius: 10px;
        padding: 10px 10px;
        text-align: center;
        width: 150px;
        margin-top: -10px;
        background-color: #04AA6D;
        margin-right: -20px;
        text-align: center;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: flex-end;
    } */

    }
    #inxex1{
      display: none;
    }

  }
</style>

 <li role="alert" class="alert alert-info mt-54 lg:mt-24" style="display: {{display}};" id="time">{{message}}</li>

    <script>setTimeout(() => { document.getElementById('time').style.display = 'none'; }, 5000);</script>



   <div class="flex flex-col md:flex-row " id="oppen">

  <!-- Tabs (left side) -->
  <div class=" w-[200px]   py-10 overflow h-auto md:h-[100%] lg:h-[100%] border-white "  id="mySidenav2">
  <a href="{% url 'index' %}" id="inxex1">
      <img src="{% static 'images/Chat_Image_Apr_15__2025__12_24_59_PM-removebg-preview.png' %}" class="h-10 sm:h-12 mx-auto md:mx-0" alt="Pharmadeals Logo">
    </a>
    <button
      class="btn btn-primary lg:min-w-[100%]"
      onclick="getuser()"
      id="defaultOpen">
      User Profile
    </button>
    <button
      class="btn btn-primary lg:min-w-[100%]"
      onclick="opensales()" id="sales">
      Sales
    </button>
    <button
      class="btn btn-primary lg:min-w-[100%]"
      onclick="purchase()" id="purchase">
      Purchases/Bids
    </button>
    <button
      class="btn btn-primary lg:min-w-[100%]"
      onclick="openCity()" id="product">
      Products
    </button>
    <a href="{% url 'help' %}">
      <button id="help"
        class="btn btn-primary  lg:min-w-[100%]">
        Help
      </button>
    </a>
  </div>

  <!-- Content (right side) -->
  <div class="w-full md:w-[100%] md:ml-[-60px] px-3 h-auto md:h-[300px] min-h-[284px] mt-14" id="note1" >
    <!-- Tab content here -->
  </div>
</div>
<style>


</style>



<script>

  function openCity() {
    // Get all elements with class="tabcontent

  const url = `{% url 'get_table'  %}`;
   document.getElementById('note1').innerHTML = `<span class="loading loading-spinner text-primary lg:ml-96 lg:mt-24 mt-14 w-24 h-24 lg:w-56 lg:h-56"></span>`; //add loading animation // Generate the URL dynamically
fetch(url, {
    method: 'GET',
   headers: {
       'X-Requested-With': 'XMLHttpRequest' // Indicate that this is an AJAX request
   }
})
.then(response => {
   if (!response.ok) {
       throw new Error('Network response was not ok');
   }
   return response.text();
})
.then(data => {
   document.getElementById('note1').innerHTML = data;
  // Log the data to the console for debugging


})
.catch(error => {
   console.error('There was a problem with the fetch operation:', error);
});

  }
</script>



<script>

  function opensales() {
    // Get all elements with class="tabcontent
  const url = `{% url 'get_sales'  %}`;
   // Generate the URL dynamically
   document.getElementById('note1').innerHTML = `<span class="loading loading-spinner text-primary lg:ml-96 lg:mt-24 mt-14 w-24 h-24 lg:w-56 lg:h-56"></span>`; //add loading animation
fetch(url, {
    method: 'GET',
   headers: {
       'X-Requested-With': 'XMLHttpRequest' // Indicate that this is an AJAX request
   }
})
.then(response => {
   if (!response.ok) {
       throw new Error('Network response was not ok');
   }
   return response.text();
})
.then(data => {
   document.getElementById('note1').innerHTML = data;
  // Log the data to the console for debugging


})
.catch(error => {
   console.error('There was a problem with the fetch operation:', error);
});

  }
</script>


<script>

  function purchase() {
    // Get all elements with class="tabcontent
  const url = `{% url 'purchase'  %}`;
   document.getElementById('note1').innerHTML = `<span class="loading loading-spinner text-primary lg:ml-96 lg:mt-24 mt-14 w-24 h-24 lg:w-56 lg:h-56"></span>`; //add loading animation // Generate the URL dynamically
fetch(url, {
    method: 'GET',
   headers: {
       'X-Requested-With': 'XMLHttpRequest' // Indicate that this is an AJAX request
   }
})
.then(response => {
   if (!response.ok) {
       throw new Error('Network response was not ok');
   }
   return response.text();
})
.then(data => {
   document.getElementById('note1').innerHTML = data;
  // Log the data to the console for debugging


})
.catch(error => {
   console.error('There was a problem with the fetch operation:', error);
});

  }


</script>




<script>

  function getuser() {
    // Get all elements with class="tabcontent
  const url = `{% url 'get_user'  %}`; // Generate the URL dynamically
   document.getElementById('note1').innerHTML = `<span class="loading loading-spinner text-primary lg:ml-96 lg:mt-24 mt-14 w-24 h-24 lg:w-56 lg:h-56"></span>`; //add loading animation
fetch(url, {
    method: 'GET',
   headers: {
       'X-Requested-With': 'XMLHttpRequest' // Indicate that this is an AJAX request
   }
})
.then(response => {
   if (!response.ok) {
       throw new Error('Network response was not ok');
   }
   return response.text();
})
.then(data => {
   document.getElementById('note1').innerHTML = data;
  // Log the data to the console for debugging


})
.catch(error => {
   console.error('There was a problem with the fetch operation:', error);
});

  }

  window.onload = function() {
   opensales(); // Call the function when the page loads
  };
</script>

<style>


#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}
</style>







{% endblock %}
