{% load heroicons %}
{% load static %}
<div class="container overflow-x-auto overflow-y-auto" id="customers" style="overflow-x: scroll; width: 98%;">
  <table class="table-auto w-full border-collapse border border-gray-300" style="overflow: scroll;">
    <caption class="text-lg font-bold text-center mb-4">Pharma Products</caption>
    <thead class="bg-green-500 text-white">
      <tr>
        <th class="border border-gray-300 px-4 py-2">Product Name</th>
        <th class="border border-gray-300 px-4 py-2">Price</th>
        <th class="border border-gray-300 px-4 py-2">Approval</th>
        <th class="border border-gray-300 px-4 py-2">Description</th>
        <th class="border border-gray-300 px-4 py-2">Categories</th>
        <th class="border border-gray-300 px-4 py-2">Images</th>
        <th class="border border-gray-300 px-4 py-2">Stock</th>
        <th class="border border-gray-300 px-4 py-2">Shipping Price</th>
        <th class="border border-gray-300 px-4 py-2">Views</th>
        <!-- <th class="border border-gray-300 px-4 py-2">Update</th> -->
        <th class="border border-gray-300 px-4 py-2">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for name in categories %}
      <tr class="hover:bg-gray-100">
        <td class="border border-[#ccc] px-4 py-2">
         {% if name.name.Approval %}
          <a href="{% url 'item' name=name.name.name id=name.name.id %}">{{ name.name.name }}</a>
        {% else %}
        {{name.name.name}}
        {% endif %}
        </td>
        <td class="border border-[#ccc] px-4 py-2">₦ {{ name.name.price }}</td>
        <td class="border border-[#ccc] px-4 py-2">
          {% if name.name.Approval %}
          <span style="color: green;">Approved</span>
          {% else %}
          <span style="color: red;">Awaiting Approval</span>
          {% endif %}</td>
        <td class="border border-[#ccc] px-4 py-2">{{ name.name.description }}</td>
        <td class="border border-[#ccc] px-4 py-2">{{ name.name.categor }}</td>
        <td class="border border-[#ccc] px-4 py-2">
          <img src="{{ name.name.image.url }}" class="h-12 w-12 object-cover" alt="Product Image">
        </td>
        <td class="border border-[#ccc] px-4 py-2">{{ name.name.stock }}</td>
        {% if name.shipping == 0 %}
        <td class="border border-[#ccc] px-4 py-2">Free</td>
        {% else %}
        <td class="border border-[#ccc] px-4 py-2">₦ {{ name.name.shipping }}</td>
        {% endif %}
        <td class="border border-[#ccc] px-4 py-2">{{ name.views }}</td>
        <!-- <td class="border border-[#ccc] px-4 py-2 text-center">
          <a href="#" class="text-blue-500 hover:underline">Update</a>
        </td> -->
        <td class="border border-[#ccc] px-4 py-2 text-center">
          <a href="javascript:void(0);" onclick="document.getElementById('id01{{ name.name.id }}').style.display='block'" class="text-red-500 hover:underline">
            <span>{% heroicon_outline "trash" size=20 %}</span>
          </a>
        </td>
      </tr>

      <!-- Modal -->
      <div id="id01{{ name.name.id }}" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden">
        <div class="bg-white rounded-lg shadow-lg p-6 w-1/3">
          <div class="flex justify-between items-center">
            <h2 class="text-xl font-bold">Confirm Deletion</h2>
            <button onclick="document.getElementById('id01{{ name.name.id }}').style.display='none'" class="text-gray-500 hover:text-gray-700">&times;</button>
          </div>
          <p class="mt-4">Are you sure you want to delete this item?</p>
          <a href="{% url 'pharma_delete' id=name.name.id %}" class="bg-red-500 text-red-500 px-4 py-2 rounded-lg hover:bg-red-600">Delete</a>
          <div class="mt-6 flex justify-end space-x-4">
            <button onclick="document.getElementById('id01{{ name.name.id }}').style.display='none'" class="bg-gray-300 text-gray-700 px-4 py-2 rounded-lg hover:bg-gray-400">Cancel</button>
           
          </div>
        </div>
      </div>
      {% endfor %}
    </tbody>
  </table>
  <button class="bg-gray-300 text-black px-5 py-2.5 text-center rounded-full hover:bg-gray-400">
    <a href="{% url 'upload' %}" class="mr-6">Upload Product</a>
  </button>
</div>

<div class="justify-between grid grid-cols-2 lg:grid-cols-2  items-center mb-2 border-b-2 border-gray-300 py-4 px-6">
  {% for name in categories %}
  <div class=" items-center space-x-4 mb-4">
    <img src="{{ name.name.image.url }}" alt="Product Image" class="w-10 h-[200px] rounded-lg" style="height: 200px;">
    <div>
      <h3 class="text-lg font-semibold text-blue-900">{{ name.name.name }}</h3>
      <p class="text-gray-600">Price: ₦ {{ name.name.price }}</p>
      <p class="text-gray-600">Quantity: {{ name.name.stock }}</p>
    </div>
    
  </div>
  {% endfor %}
</div>

<style>
  #product{
      background-color: #38c500;
  }
  #customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}
</style>