body {
  background: white;
  font-family: "Arial", san-serif;
}
.top {
  height: 36px;
  width: 100%;
  background: #34c759;
  font-size: 14px;
  top: 0px;
  padding: 3px;
  display: inline-flex;
  color: #575757;
  padding-top: 5px;
}
.top-left {
  margin-left: 60%;
}
.top-ph {
  margin-left: 30px;
}
.header {
  padding-top: 2px;
  display: inline;
}
.head-img {
  margin-top: 10px;
}
.head-search {
  min-width: 442px;
  height: 48px;
  border: 1px #0f1010 solid;
  background: #d8ebf0;
  opacity: 40%;
  margin-left: 200px;
  padding: 20px;
  border-radius: 20px;
}
.head-glass {
  margin-right: 100px;
}
.head-bar {
  margin-left: 100px;
}
.search-bar {
  border: none;
  background: transparent;
  color: #333333;
}
.search-bar:focus {
  border: none;
}
.head-log {
  margin-left: 100px;
}
.head-btn {
  background: #34c759;
  width: 126px;
  height: 41px;
  border: 1px #9ddadb solid;
  border-radius: 50px;
  margin-left: 30px;
  color: #5e5e5e;
  font-size: 18px;
}

    * {
      box-sizing: border-box;
    }

    body {
      margin: 0;

    }

    .carousel {
            width: 96%;
      margin-left:2%;
      margin-top:20px;


      overflow: hidden;
    }

    .carousel-item {
      display: none;

      width: 100%;
      height: 100%;
    }

    .carousel-item.active {
      display: block;
      position: relative;
    }

    .carousel-item img {
      width: 100%;
      display: block;
    }
     .nav-buttons1 {
     transform:translateX(-40%);

     }
     .nav-buttons2 {
     transform:translateX(40%);
     }

    .nav-buttons {
      position: absolute;
      top: 50%;
      width: 100%;
      display: flex;

      justify-content: space-between;
      transform: translateY(-50%);

      padding: 0 20px;
    }

    .nav-buttons a {
      background-color: #ffffff;
      color: #333333;
      border: none;
      padding: 10px 15px;
      text-decoration: none;
      font-size: 50px;
      padding:30px;
      border-radius: 9999px;
      cursor: pointer;
    }
    .hero-move{
    background:#34C759;
    height:371px;
    border-radius:10px;
    display:grid;
    grid-template-columns:2fr 1fr;

    }
    .hero-text{
     color:#043CAA;
     font-size:38px;
     margin-left:110px;
     padding-top:50px;
    }
    .hero-mag{
     display:inline-flex;

    }
    .hero-start{
      margin-left:110px;
     margin-top:50px;
     width:178px;
     height:44px;
     border-radius:50px;
     border:1px #000000 solid;
     font-size:20px;

    }
    .head-hope{
    margin-top:50px;
     width:514px;
     height:48px;
     background:#ffffff;
     border-radius:50px;
     border:none;
    }
    .head-glass{

     margin-left:20px;
    }
    .hero-custom{
     margin-top:10px
    }
    .hero-in{
    width:208px;
    height:50%;
    margin-left:-50px;
    border:none;

    }
    .hero-btn{
     margin-left:118px;
     background:#32ADE6;
     height:100%;
     border:none;
     font-size:16px;
     color:#ffffff;
     border-top-right-radius:50px;
          border-bottom-right-radius:50px;

    }
    .hero-image{
     height:367px;
     width:300px;
    }
    .category1{
     margin-top:70px;
     margin-left:61px;
    }
    .category-text{
     font-size:36px;
     color:#043CAA;
     border-bottom: 5px #1BC768 solid;
    }
    .category-text2{
    margin-left:70%;
    }
    .category-pharma{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    margin-left:5%;
    margin-top:3%;

    }
    .category-pharma1{
    height:316px;
    width:267px;
    background:#34C759;
    border-radius:20px;
    }
    .hero-image2{
    width:284px;
    height:284px;
    }
    .category-pharma-text{
     font-size:18px;
     position:absolute;
     margin-top:-50px;
     font-weight:regular;
      font-family: "Courier New", Courier, monospace;

    }
    .category-ico{
         margin-left: 80%;
    margin-top: -20px;
    color:red;
    }